<!doctype html>
<html>

<head>
    <% include navi/head %>
</head>

<body>
    <% include navi/header %>

    <div class="container">
        <!--계정확인-->
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
            style="width:44%;">
            <div class="text-center">

                <table class="table table-bordered">
                    <tr>
                        <th scope="col"><%= userid %></th>
                    </tr>
                    <tr>
                        <th id="publickey" scope="row"><%= public_key %></th>
                    </tr>
                </table>
            </div>
        </div>
        <!--입금/전송-->
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
            style="width:44%;">
            <form>
                <div class="text-center">
                    <img src="images/bono.png" alt="" style="width: 100px;"><br /><br />
                    <h3> <%= balance %> Ether </h3>
                    </p>

                    <button type="button" class="btn btn-outline-info" id="getEther">입금</button>
                    <button type="button" class="btn btn-outline-info" id="send">전송</button>
                    <button type="button" class="btn btn-outline-info" id="logout">로그아웃</button>
                    <button type="button" class="btn btn-outline-info" id="account">개인키 내보내기</button>
                </div>

                <!--히스토리-->
                <div>
                    <div class="form-group" style="width:50%;">
                        <h6><label for="exampleInputEmail1">History</label></h6><br>
                        <ul style="list-style: none;">
                            <% for(let j = 0; j < 5; j++) { %>
                            <li><a href="https://ropsten.etherscan.io/tx/<%= txhash_list[j] %>">
                                    <%=  txhash_list[j] %></a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

    </div>


    <script>
        $('#send').click(function () {
            window.location.href = 'http://localhost:3000/send'
        });

        $('#logout').click(function () {
            $.ajax({
                url: 'http://localhost:3000/main/session_destroy',
                success: function (result, body, { status }) {
                    window.location.href = 'http://localhost:3000/'
                }
            });
        })

        $('#getEther').click(function () {
            $.ajax({
                url: 'https://faucet.metamask.io/',
                dataType: 'json',
                type: 'POST',
                data: $('#publickey').text(),
                success: function (result, body, { status }) {
                    $.ajax({
                        url: 'http://localhost:3000/main/deposit',
                        dataType: 'json',
                        type: 'POST',
                        data: result
                    })
                }
            });
        })

        $('#account').click(function () {
            window.location.href = 'http://localhost:3000/main/private'
        });
    </script>
</body>

</html>