<!DOCTYPE html>
<html lang="en">

<head>
    <% include navi/head %>
    <link href="css/wallet/layout.css" rel="stylesheet">
    
</head>

<body style="font-family: 'Kanit', sans-serif;">
    <div class="container">
        <header>
            <h3>EtherWallet</h3>
            <h5 style="padding-top: 60px"><%= userid %></h5>
            <div class="public_key"><%= public_key %></div><br />
        </header>
        <section class="content">
            <main>
                <h4 style="text-align: center" ><%= balance %> ETH</h4>
                <br />
                <h6 class="txhash"><% for(let j = 0; j < 3; j++) { %>
                    <a href="https://ropsten.etherscan.io/tx/<%= txhash_list[j] %>" style="color:#7C7C7C">
                        </style>
                        <%=  txhash_list[j] %></a>
                    <% } %>
                </h6>

                <div class="d-flex justify-content-center mt-4 login_container">
                    <button type="button" id="getEther" class="btn login_btn">getEther</button>
                    <button type="button" id="account" class="btn login_btn">account</button>
                </div>
                <div class="d-flex justify-content-center mt-1 login_container">
                    <button type="button" id="send" class="btn login_btn">send</button>
                    <button type="button" id="logout" class="btn login_btn">logout</button>
                </div>
            </main>
        </section>


    </div>
    <script>
        $('#send').click(function () {
            window.location.href = '/send'
        });

        $('#logout').click(function () {
            $.ajax({
                url: '/main/session_destroy',
                success: function (result, body, { status }) {
                    window.location.href = '/'
                }
            });
        })
        $(document).ready(() => {
        $('#getEther').click(function () {   
            $.ajax({
                url: 'https://faucet.metamask.io/',
                type: 'POST',
                data: $('.public_key').text(),
                success: function (result, body, { status }) {
                    $.ajax({
                        url: '/main/deposit',
                        type: 'POST',
                        data:  { addr: JSON.stringify(result) }
                    })
                },
                error: ({ status }) => {
              const statusMsg = {
                "429": () => alert('Too many request'),
                "500": () => alert('Fauset ServerError'),
              }
              let msg = statusMsg[`${status}`]
              if (msg) msg()
            }
            });
        })
    });

        $('#account').click(function () {
            window.location.href = '/privatekey'
        });
    </script>
</body>

</html>